.active {
  /* color: #007bff; */
  font-weight: bold;
  text-decoration: underline;
}

.navLink {
  text-decoration: none;
  padding: 0 10px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 5px;
}
